@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Source+Sans+Pro:300,400,700');

$yellow : #ffcc00;
$font : #fff;
$font_black: #808080;
$bg:#a7b3c5;
$green: #19bd9a;
$font_text: 'Open Sans', Arial, sans-serif;
$font_title: 'Source Sans Pro', Arial, sans-serif;
$transition: all .5s ease;

* {
	box-sizing: border-box;
	color: $font;
}

html, body {
	height: 100%;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

.transition {
	transition: $transition;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.intro {
	padding-top: 50px;
	padding-bottom: 70px;
	background: url(../img/intro.png) no-repeat;
	overflow: hidden;
	background-size: cover;
}

p {
	font-family: $font_text;
	font-size: 14px;
	font-weight: 400;
}

h1 {
	font-family: $font_title;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}

.header {
	display: flex;
	justify-content: space-between;
	&__logo {
	background: url(../img/Bouncy.png) center no-repeat;
	height: 25px;
	width: 115px;
	}
	&__nav {
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		& li {
		display: inline-block;
			& a {
				text-decoration: none;
				margin-left: 40px;
				border: 1px solid transparent;
				border-radius: 15px;
				padding: 5px 20px;
				&:hover,
				&:active,
				&:focus {
					border: 1px solid $font;
					border-radius: 15px;
					padding: 5px 20px;
				}
			}	
		}
	}
}

.information {
	text-align: center;
	margin: 200px auto 0 auto;
	&__title {
		font-size: 35px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;

	}
	&__text {
		padding: 0 300px;
	}
	&__btn {
		width: 40px;
		height: 40px;
		background: url(../img/scroll.png) center no-repeat;
		border-radius: 50%;
		display: inline-block;
		margin-top: 200px;
		&:hover {
			opacity: 0.5;
		}
	}
}

.portfolio {
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 85px;
	padding-bottom: 100px; 
	&__title {
		color: #333b46;
	}
	&__text {
		padding: 40px 450px 80px 450px;
		color: #81868e;
		line-height: 25px;
	}
}

.tags {
	margin-bottom: 50px;
	& li {
	display: inline-block;
	margin: 10px;
		& a{
		color: #464646;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		padding-bottom: 5px;
			&:hover {
				border-bottom: 2px solid $green;
			}
		}
	}	
}

.images {
	&__column {
		width: 24%;
		height: 360px;
		overflow: hidden;
		border: 5px solid #f3f3f3;
		img {
			width: 100%
		}
		&--sm {
			height: 210px;
		} 
		&--md {
			height: 300px;
		}
	}
	margin: 5px;
}

.team{
	padding-bottom: 120px;
	padding-top: 75px;
	text-align: center;
	&__slider {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
		
	}
	&__info {
		width: 45%;
		display: inline-block;
	}
	&__title {
		color: #333b46;
		&--sl {
			text-align: right;
			margin-bottom: 0;
			text-transform: capitalize;
			font-weight: 400;
			font-family: $font_text;
		}
	}
	&__text {
		padding: 40px 450px 80px 450px;
		color: #81868e;
		line-height: 25px;
		text-align: center;
		&--sl {
			padding: 0;
			text-align: right;
			padding-left: 200px;
			margin-right: 0;
		}
	}
	&__image {
		display: inline-block;
		width: 30%;
		margin-left: 0;
		align: left;
	}
	&__autor {
		font-family: $font_text;
		font-size: 14px;
		font-weight: 200;
		color: #81868e;
		line-height: 25px;
		text-align: right;
		margin-top: 0;
		text-transform: uppercase;
	}
}

.teamcta {
	text-align: center;
	background: url(../img/prefoot.jpg);
	padding: 50px;
	&__title {
		font-weight: 400;
		margin-bottom: 30px;
		letter-spacing: 1px;
		text-transform: capitalize;
	}
	&__button {
		display: inline-block;
		font-family: $font_text;
		font-size: 16px;
		font-weight: 300;
		border: 1px solid $font;
		border-radius: 20px;
		padding: 10px 30px;
		&:hover {
			background-color: $font;
			color: 	#000000;
		}
	}
}

.testimonilas {
	background-color: #f3f3f3 ;
	padding-top: 60px;
	padding-bottom: 25px;
	&--bg {
		background-color: #fff;
	}
	&__title {
		margin-bottom: 30px;
		color: 	#000000;
		letter-spacing: 2px;
		text-align: center;
		&--sl {
			text-align: left;
			margin-bottom: 0;
			font-weight: 600;
			font-family: $font_text;
			color: $green;
		}
	}
	&__text {
		color: $font_black;
		padding: 0 350px 0 350px;
		line-height: 25px;
		text-align: center;
		padding-bottom: 50px;
		&--sl {
			text-align: left;
			padding: 0;
			margin: 0;
		}
	}
	&__autor {
		font-weight: 200;
		color: #81868e;
		line-height: 25px;
		text-align: left;
		margin-top: 0;
		text-transform: uppercase;
	}
	&__slider {
		padding: 55px 100px 25px 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: $font;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	}
	&__info {
		width: 70%;
		display: inline-block;
	}
	&__image {
		width: 135px;
		height: 135px;
		display: inline-block;
		align: left;
		margin-right: 70px;
		background: url(../img/testimonials_img.png) center no-repeat;
	}
}

.contact {
	&__title {
		margin-top: 60px;
		margin-bottom: 30px;
		letter-spacing: 2px;
		text-align: center;
		color: #464646;
	}
	&__text {
		color: $font_black;
		padding: 0 430px 0 430px;
		line-height: 25px;
		text-align: center;
		padding-bottom: 50px;
	}
}

#map {
	width: 100%;
    height: 400px;
}

.footer {
		text-align: center;
		padding: 60px 0 65px 0;
	&__title {
		font-size: 25px;
		font-weight: 700;
		margin-bottom: 15px;
		color: #464646;
		letter-spacing: 1px;
	}
	&__text {
		color: $font_black;
		font-weight: 300;
		margin-bottom: 30px;
	}
}

.socials {
	display: inline-block;
}

.social {
	width:30px ;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// background-size: cover;
	// -webkit-background-size: cover;
	//    -moz-background-size: cover;
	//      -o-background-size: cover;
	   
	&:hover {
		opacity: 0.5;
	}
	&--fb {
		background-image: url(../img/facebook.png);
	}
	&--tw {
		background-image: url(../img/twitter.png);
	}
	&--in {
		background-image: url(../img/linkedin.png);
	}
	&--inst {
		background-image: url(../img/instagram.png);
	}
	&--vim {
		background-image: url(../img/vimeo.png);
		margin-right: 35px;
	}
}

.slick-dots {
	text-align: center;
	padding-bottom: 60px;
	& li {
		display: inline-block;
    	margin: 0 5px;
	& button {
		background-color: $green;
		width: 10px;
		height: 10px;
		display: block;
		font-size: 0;
		padding: 5px;
		border: 1px solid $green;
		border-radius: 50%;
	}
	&.slick-active  button{
		background-color: #fff;
		}
	}
}
